* {
	padding: 0;
	margin: 0;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
}
*:after,
*:before {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
@font-face {
	font-family: "Roboto";
	src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto Ligth";
	src: url(fonts/Roboto-Light.ttf);
}
.f-light {
	font-family: "Roboto Ligth";
	font-weight: 300;
}
@font-face {
	font-family: "Roboto Medium";
	src: url(fonts/Roboto-Medium.ttf);
}
.f-medium {
	font-family: "Roboto Medium";
	font-weight: 500;
}
@font-face {
	font-family: "Roboto Bold";
	src: url(fonts/Roboto-Bold.ttf);
}
html,
body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
    line-height: 1.3;
	color: #000;
	background-color: #F7F8F9;
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	overflow-x: hidden;
}
body {
	min-width: 1200px;
}
.relative {
    position: relative;
}
.cfx:before,
.cfx:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.container {
	margin: 0 auto;
	max-width: 1177px;
	width: 100%;
	z-index: 1;
}
a {
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
}
img {
	outline: none;
	border: none;
}
.button {
	display: inline-block;
	text-align: center;
	line-height: 34px;
	font-family: "Roboto Ligth";
	font-weight: 300;
	font-size: 16px;
	color: #182848;
	border: 1px solid #182848;
	border-radius: 18px;
	background-color: transparent;
	cursor: pointer;
}




/*
 * icons
 */
.icon {
	width: 105px;
	height: 105px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(24, 40, 72, 0.1);
	border-radius: 50%;
}
.icon-light {
	background-color: rgba(255, 255, 255, 0.1);
}
.icon-star {
	background-image: url(images/icons/star.png);
}
.icon-exchange {
	background-image: url(images/icons/exchange.png);
}
.icon-migration {
	background-image: url(images/icons/migration.png);
}
.icon-secure {
	background-image: url(images/icons/secure.png);
}
.icon-partners {
	background-image: url(images/icons/partners.png);
}
.icon-comments {
	background-image: url(images/icons/comments.png);
}
.icon-mail {
	background-image: url(images/icons/mail.png);
}



/*
 * bg
 */
.bg {
	position: absolute;
	z-index: -1;
}
.bg-main {
	top: 0;
	right: 140px;
}
.bg-list-1 {
	left: 330px;
	top: -180px;
}
.bg-list-2 {
	right: 760px;
	bottom: -430px;
}
.bg-features-1 {
	top: -40px;
	right: 20px;
}
.bg-features-2 {
	top: 580px;
	right: 160px;
}
.bg-comments {
	left: 200px;
	top: -60px;
}
.bg-footer {
	top: -70px;
	left: -370px;
}



/*
 * header
 */
.header {
	height: 110px;
}
.header-logo {
	margin-left: -20px;
}
.header-menu {
	position: absolute;
	top: 30px;
	left: 200px;
	right: 200px;
	text-align: center;
}
.header-menu a {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
}
.header-menu a:hover {
	text-decoration: underline;
}
.header-menu a + a {
	margin-left: 90px;
}



/*
 * main
 */
.main {
	padding-bottom: 125px;
}
.main-title {
	line-height: 67px;
	font-size: 48px;
	color: #FFFFFF;
	width: 520px;
	margin-top: 90px;
}
.main-notebook {
	position: absolute;
	top: -80px;
	right: -20px;
}



/*
 * download
 */
.download-container {
	z-index: 2;
}
.download {
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: 0 38px 50px rgba(34, 83, 139, 0.1);
	border-radius: 16px;
	height: 180px;
	padding-top: 30px;
}
.download-item {
	position: relative;
	display: inline-block;
	width: 225px;
	text-align: center;
}
.download-item:after {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	height: 100px;
	width: 1px;
	background-color: #CCCCCC;
}
.download-item:first-child:after {
	content: none;
}
.download-item span {
	display: block;
}
.download-name {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	font-size: 18px;
	color: #CCCCCC;
}
.download-button-label {
	display: none !important;
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
}
.download-button {
	display: inline-block !important;
	width: 120px;
	font-family: "Roboto";
	font-weight: normal;
}
.download-version {
	font-size: 12px;
	color: #182848;
	padding-top: 3px;
}
.download-item:hover .download-button-label {
	display: block !important;
}
.download-item:hover .download-name {
	display: none !important;
}



/*
 * list
 */
.list {
	margin-top: 85px;
	padding-bottom: 70px;
}
.list-title {
	font-family: "Roboto Medium";
	margin-top: 40px;
	font-weight: 500;
	line-height: 45px;
	font-size: 24px;
	color: #182848;
}
.list-items {
	margin-top: 55px;
	margin-left: -44px;
}
.list-item {
	display: inline-block;
	width: 14%;
	padding-top: 25px;
	text-align: center;
	position: relative;
}
.list-items-all .list-item {
	margin-top: 60px;
}
.list-items-hide {
	display: none;
}
.list-item-coming-soon:before {
	content: "coming soon";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	text-align: center;
	color: #182848;
}
.list-item-coming-soon img {
	opacity: .5;
}
.list-item-name {
	display: block;
	margin-top: 15px;
	font-size: 18px;
	color: #182848;
}
.list-bottom {
	text-align: center;
	margin-top: 45px;
}
.list-bottom .button {
	width: 150px;
}
.list-bottom-button-description {
	margin-top: 20px;
	font-size: 16px;
	color: #BCBABA;
}



/*
 * features
 */
.features-item {
	padding-top: 80px;
	color: #FFFFFF;
}
.features-title {
	font-size: 24px;
	margin-bottom: 25px;
	margin-top: 30px;
}
.features-text {
	font-size: 24px;
	line-height: 45px;
}
.features-text a {
	text-decoration: underline;
	font-family: "Roboto Bold";
	font-width: bold;
	color: #ffffff;
}



/*
 * partners
 */
.partners {
	text-align: right;
	margin-top: -30px;
}
.partners .icon-partners {
	float: right;
}
.partners-list {
	text-align: right;
	margin-top: 95px;
	vertical-align: middle;
}
.partners-list a {
	display: inline-block;
	padding-left: 60px;
	vertical-align: bottom;
}



/*
 * comments
 */
.comments {
	padding-top: 40px;
}
.comments-arrows {
	height: 90px;
	margin-top: -20px;
}
.comments-arrow {
	position: absolute;
	top: 0;
	height: 36px;
	width: 36px;
	background: transparent url(images/icons/arrow-right.png) no-repeat center;
	border: 0;
	cursor: pointer;
}
.comments-arrow-right {
	right: 0;
}
.comments-arrow-right:disabled {
	background-image: url(images/icons/arrow-right-disabled.png);
	cursor: auto;
}
.comments-arrow-left {
	right: 80px;
	background-image: url(images/icons/arrow-left.png);
}
.comments-arrow-left:disabled {
	background-image: url(images/icons/arrow-left-disabled.png);
	cursor: auto;
}
.comments-slider-label {
	overflow: hidden;
}
.comments-slider {
	height: 334px;
}
.comments-slider-list {
	display: inline-block;
	height: inherit;
	white-space: nowrap;

	-webkit-transition: margin-left .3s ease-in-out;
	-moz-transition: margin-left .3s ease-in-out;
	-ms-transition: margin-left .3s ease-in-out;
	-o-transition: margin-left .3s ease-in-out;
	transition: margin-left .3s ease-in-out;
}
.comments-item {
	display: inline-block;
	width: 426px;
	height: 264px;
	background: #FFFFFF;
	box-shadow: 0 8px 40px rgba(24, 40, 72, 0.1);
	border-radius: 8px;
	padding: 35px 48px 0 48px;
	text-align: center;
	white-space: normal;
}
.comments-item + .comments-item {
	margin-left: 65px;
}
.comments-text {
	display: block;
	color: #000000;
	text-align: left;
	margin-top: 25px;
	line-height: 33px;
	font-size: 18px;
}
.comments-text:hover {
	text-decoration: underline;
}



/*
 * subscribe
 */
.subscribe {
	margin-top: 80px;
}
.subscribe .container {
	padding-left: 256px;
}
.subscribe .icon-mail {
	position: absolute;
	top: 0;
	left: 0;
}
.subscribe-title {
	line-height: 40px;
	font-size: 24px;
	color: #182848;
}
/* form */
.subscribe-form {
	width: 600px;
	height: 180px;
	margin-top: 25px;
}
.mc-field-group label {
	display: none;
}
.mc-field-group input[type="email"] {
	background: #FFFFFF;
	box-shadow: 0 8px 20px rgba(24, 40, 72, 0.16);
	border-radius: 8px;
	width: 341px;
	height: 60px;
	border: none;
	padding-left: 35px;
	font-size: 20px;
	font-family: "Roboto Ligth";
	font-width: 300;
}
.mc-field-group button {
	font-family: "Roboto Medium";
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
	background: #182848;
	border-radius: 8px;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 20%;
}




#mc_embed_signup div.mce_inline_error {
	width: 341px !important;
	margin-top: -17px !important;
	position: absolute;
	border-radius: 0 0 8px 8px;
}
#mce-responses {
	padding-top: 10px;
}
/* /form */
hr {
	height: 1px;
	background-color: #BCBABA;
	border: none;
}



/*
 * footer
 */
.footer {
	text-align: center;
	overflow: hidden;
	padding-bottom: 40px;
}
.footer-logo {
	position: absolute;
	top: 60px;
	left: -20px;
}
.footer-email {
	display: inline-block;
	font-size: 24px;
	color: #182848;
	margin-top: 58px;
}
.footer-social {
	margin-top: 35px;
}
.footer-social-icon {
	display: inline-block;
}
.footer-social-icon + .footer-social-icon {
	margin-left: 12px;
}
.footer-copy {
	margin-top: 35px;
	font-size: 12px;
	color: #182848;
}
























